@import url(bootstrap.css);
@import url(bootstrap.min.css); 
#intro{
  justify-content: center;
  border-color: yellow;
  padding: 20px;
  color: maroon;
  font-size: 20px;
  font-family: sans-serif;
}
.mycontainer p {
  text-align: center;
}
.mycontainer {
  width: 700px;
  height: 120vh;
  margin: auto;
  padding: 40px;
  background-color: seashell;
}
form h2 {
  text-align: center;
}
form {
  justify-content: center;
  margin: auto;
  width: 450px;
  padding: 20px;
}
.button {
  position: absolute;
  left: 75vh;
  bottom: auto;
}
body {
  background-image: url(../images/background2.jpeg);
}
.footer{
  text-align: center;
	font-size: 20px;
  padding: 10px;
  background-color: lightgrey;
}
